
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    position: relative;
}

body {
    overflow-y: auto;
    min-height: 100vh;
    padding: 4px;
  }


.img-fluid{
    max-width: 100%;
    height: auto;
  }

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/hero.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.hero-subheading{
    font-size: 24px;
    font-weight: 100;
}

.hero-input{
    height: 60px;
    width: 80%;
    border-radius: 8px;
    padding: 16px;
    border: none;

}

.tile{
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
   
}

.tile img{
    height: 100%;
    width: 100%;
    transition: 0.2 all;
}

.tile img:hover{
    filter: brightness(50%);
    transform: scale(1.1);
}

.tile-text{
    position: absolute;
    z-index: 1;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    display: flexbox;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.adventure-card{
    height: 20rem;
    border-radius: 10px;
    overflow: hidden;
}

.adventure-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    transform: scale(1.1);
}

.card-title{
    font-size: 16px;
    font-weight:700;
}

.card-text{
    font-size: 16px;
    font-weight:700
}

.adventure-card img:hover{
    filter: brightness(50%);
}

.adventure-detail-card{
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px;
    overflow: hidden;

}

.adventure-card img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.adventure-detail-card img:hover{
    filter: brightness(50%);
}

#reservation{
    position: fixed;
}

footer{
    width: 100%;
    background-color: aliceblue;
    margin-top: 30px;
    text-align: center;
    vertical-align: bottom;
    padding: 16px 0px;
    color: #999;
}

.content{
    padding: 20px 0;
}

.navbar{
    background-color: aliceblue;
}